.post :is(h1, h2, h3, h4, h5, h6):first-child {
  margin-top: 0;
}

.post > * + * {
  margin-top: 0.8rem;
}

.post :is(h1, h2) + * {
  margin-top: 1.2rem;
}

.post p {
  overflow-wrap: break-word;
}

.post h1 {
  font-size: 1.5rem;
  margin: 2.5rem 0 0.75rem;
  line-height: 1.2;
  padding-bottom: 0.25rem;
}
.post h2 {
  font-size: 1.4rem;
  margin: 6rem 0 1rem;
  line-height: 1.2;
  font-weight: bold;
  background: rgba(156 163 175 / 0.5);
  padding: 0.8rem;
}

.post h2 + h3 {
  margin-top: 2rem;
}

.post h3 {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 4rem 0 0.75rem;
  line-height: 1.2;
  /* padding-block: 0.5rem; */
  /* border-left: 4px solid rgba(156 163 175 / 0.6); */
  /* padding-left: 0.8rem; */
}
.post h4 {
  font-size: 1.2rem;
  margin: 3rem 0 0.75rem;
  line-height: 1.2;
  padding-bottom: 0.25rem;
}

.post h3 + h4 {
  margin-top: 2rem;
}

.post ul {
  line-height: 1.6;
  list-style: disc;
  list-style-position: inside;
  padding-left: 0.3rem;
}

.post ol {
  list-style-type: decimal;
  list-style-position: inside;
  padding-left: 0.3rem;
}

.post li {
  padding-left: 1.35rem;
  text-indent: -1.35rem;
}

.post li + li {
  margin-top: 1.2rem;
}

.post blockquote {
  background-color: rgb(203, 190, 170);
  color: var(--background);
  padding: 1rem;
  font-style: italic;
  border-radius: 8px;
  margin-top: 1.2rem;

  & > *:first-child {
    margin-top: 0;
  }
}

.post table {
  display: block;
  overflow-x: auto;
}

.post table tbody {
  width: max-content;
}

.post table th,
.post table td {
  border: 1px solid gray;
  padding: 0.2rem 1rem;
  word-break: keep-all;
}

.post a {
  text-decoration: underline;
  overflow-wrap: break-word;
  cursor: pointer;
}

.post a:hover {
  text-decoration: none;
}

/* コードブロック */
.post pre {
  overflow-x: auto;
  margin-top: 1.5rem;
  margin-bottom: 0px;
  border-radius: 5px;
}

.post pre + :is(p, ul, ol, pre) {
  margin-top: 1.5rem;
}

/* コードブロック(ファイル名が入力ありの場合) */
.post div[data-filename] {
  margin-top: 16px;
}

.post div[data-filename] > span {
  display: block;
  padding: 12px 15px;
  border-radius: 5px 5px 0px 0px;
  font-weight: bold;
  background-color: #0d1117;
  border-bottom: 1px solid var(--foreground);
  font-size: 0.9rem;
}

.post div[data-filename] > pre {
  margin-top: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  white-space: pre-wrap;
  font-size: 0.6rem;
}

.post hr {
  margin-block: 4rem;
}

@media (min-width: 640px) {
  .post div[data-filename] > pre {
    font-size: 0.8rem;
  }
}

.post code {
  background: #000;
  padding: 0.2rem 0.6rem;
  overflow-wrap: break-word;
}
