@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #242220;
    --foreground: #d5cecc;
    --color-gray: #534b4bed;
  }
  body {
    color: var(--foreground);
    background: var(--background);
  }
}
